body {
    background-color: darkgoldenrod;
    background-image: linear-gradient(darkgoldenrod, darkgray);
  }
  h1 {
    color: white;
  }
  img {
    width: 200px;
    border-radius: 25px;
    border-color: darkgray;
    border-top-left-radius: 10px;
    border-style: ridge;
    border-width: 6px;
  }